header {
    height: 100vh;
    background-color: #faf8fc;
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%238a8a8a' fill-opacity='0.4'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    position: relative;
}

.landing_page_head {
    // border: 3px solid red;
    margin: 36vh auto 0 auto;
    width: 80%;
    line-height: 36px;

    position: relative;
}

.desk_landing_page_head {
    display: none;
}

.content_for_desktop {
    display: none;
}

// .tmplt1 {
//     border: 0px solid red;
//     height: auto;
//     background-color: rgb(255, 244, 74);
//     display: inline-block;
//     text-transform: uppercase;
//     padding: 1.6vw 2vw;
//     text-align: center;
//     letter-spacing: 1px;
//     line-height: 1.4em;
//     position: relative;
//     top: 27vw;
//     left: 27vw;
//     box-shadow: -1.3em 1.3em rgba(0, 0, 0, 0.6);
// }

// .tmplt1 h1 {
//     font-size: 1.2em;
//     font-weight: 100;
// }

header>.content_one {
    padding: 15px 0;
    background-color: #ff6b08;
    position: absolute;
    bottom: 0;
}

header>.content_one>h1 {
    margin: 0 auto;
    width: 80%;
    font-size: 15px;
    text-align: center;
    text-transform: capitalize;
    color: snow;
}



// landing page head

.landing_page_head h3 {
    font-family: "Kanit", sans-serif;
    font-size: 30px;
    font-weight: 900;
    color: black;
}

.landing_page_head>h1 {
    font-family: "Kanit", sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: snow;
}

header>.landing_page_head>.text1 {
    margin: 0 0 0 -6vh;
    font-family: 'Kanit', sans-serif;
    font-size: 30px;
    font-weight: 900;
    background: linear-gradient(to right, black, green, rgb(129, 214, 1), green, green, green);
    // background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, rgb(72, 72, 212));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-transform: capitalize;

    opacity: 0;
    transition: 1s;
}

#deskTextOneBorder {
    display: none;
}

#deskTextTwoBorder {
    display: none;
}

#textOneBorder {
    border-top: 6px solid black;
    margin: 1vh 0;
    width: 0vw;
    transition: 0.6s;
}

#textTwoBorder {
    border-top: 6px solid black;
    margin: 1vh 0;
    width: 0vw;
    transition: 1s;
}

header>.landing_page_head>.text2 {
    border: 2px solid transparent;
    padding-top: 1vh;
    font-family: "Kanit", sans-serif;
    font-size: 18px;
    font-weight: 600;
    /* color: snow; */

    background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, rgb(72, 72, 212));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-transform: capitalize;
    text-shadow: 1px 1px 6px #ff9900;

    /* position: absolute;
    top: 60vh;*/

    opacity: 0;
    transition: 1.6s;
}

main {
    border: 3px solid transparent;
    padding: 0 0 12vh 0;
    background-image: url("../../../Assets/Images/solar-background.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

main .sub_head {
    color: snow;
}



// Informational Content

.informational_content {
    // border: 3px solid red;
    margin: 0 auto 12vh auto;
    padding: 0 0 18px 0;
    background-image: url("../../../Assets/Images/index-bg.png");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.informational_content .img_box {
    padding: 30px 0 0 0;
    background-color: black;
}

.informational_content .background_img {
    border: 3px solid transparent;
    margin: 0 0 -30vh 0;
    width: 100%;
    height: 80vh;
    background-image: url("../../../Assets/Images/bg4-Recovered.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-attachment: fixed;
}

.informational_content .img_box .background_img .sub_head h1 {
    color: snow;
}

.content_box {
    border-top: 3px solid #ff9900;
    border-bottom: 3px solid #ff9900;
    margin: 15vh auto;
    width: 270px;
    height: 270px;
    background-color: snow;
    box-shadow: 3px 1px 30px rgb(110, 110, 110);
    // transition: 0.1s;
}

.content_box:hover {
    background-color: black;
    color: snow;
    text-shadow: 3px 1px 18px snow;
}

.content_box span {
    font-size: 24px;
}

.content_box h1 {
    width: 90%;
    font-family: "Kanit", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    text-align: justify;
    text-transform: uppercase;
}



// Information Content 2

.information_content2 {
    // border: 3px solid red;
    margin: 18vh auto;
}

.information_content2>.content_elements {
    // border: 3px solid green;
    margin: 3vh auto;
    width: 80%;
}

.information_content2>.content_elements>h2 {
    // border: 3px solid red;
    margin: 0 auto 30px auto;
    color: snow;
    text-transform: capitalize;
    font-family: "Kanit", sans-serif;
    font-size: 30px;
    font-weight: 200;
}

.instagram_link {
    // border: 3px solid snow;
    margin: 0 auto;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.instagram_link h2 {
    color: snow;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-size: 21px;
    text-transform: capitalize;
}

.insta_box {
    // border: 3px solid yellow;
    margin: 18px auto 0 auto;
    width: 100%;
    justify-content: space-between;
}

.instagram_link>.insta_box>a {
    border: 6px solid #ff9900;
    border-radius: 50%;
    color: snow;
    background-color: black;

    width: 96px;
    height: 33px;
    position: relative;
    animation: linkbounce infinite 1s linear;
}

@keyframes linkbounce {
    from {
        margin: 4vh 0 0 0;
    }

    50% {
        margin: 1vh 0 0 0;
    }

    to {
        margin: 4vh 0 0 0;
    }
}

.instagram_link>.insta_box>a>svg {
    position: absolute;
    bottom: 6px;
    border-radius: 15px;
    width: 60px;
    height: 60px;
    background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, rgb(72, 72, 212));
}

.instagram_link img {
    height: 30vh;
}

footer {
    margin: 0 auto;
    background-color: rgba(255, 250, 250, 0.9);
    box-shadow: 1px 1px 9px gray;
}