.main_head {
    // border: 3px solid blue;
    height: 24vh;
    background-image: url("../../../Assets/Images/mainHeadbg.jpg");
    background-size: 100% 100%;
}

.main_head>h1 {
    // border: 3px solid red;
    margin: 0 auto;
    width: 80%;
    font-family: "Kanit", sans-serif;
    font-size: 30px;
}


.sub_head {
    // border: 3px solid blue;
    height: 18vh;
}

.sub_head>h1 {
    // border: 3px solid red;
    margin: 0 auto;
    width: 80%;
    font-family: "Kanit", sans-serif;
    font-size: 30px;
    text-transform: capitalize;
}