// Heading

.heading {
    border: 3px solid transparent;
    margin: 6vh auto 1vh auto;
}

.heading h1 {
    border: 3px solid transparent;
    margin: 0 auto;
    width: 80%;
    font-size: 30px;
    font-family: "Kanit", sans-serif;
    // color: #ff9900;
    color: darkblue;
}