// Heading

.main_head {
    // border: 3px solid red;
    height: 24vh;
    background-image: url("../../../Assets/Images/mainHeadBg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.main_head>h1 {
    // border: 3px solid snow;
    margin: 0 auto;
    width: 80%;
    font-family: "Kanit", sans-serif;
    font-size: 33px;
    font-weight: 900;
    color: snow;
    justify-content: center;
    text-shadow: 3px 1px 9px gray;
    
}



.sub_head h1 {
    border: 3px solid black;
    margin: 0 auto;
    width: 80%;
    font-size: 30px;
    font-family: "Kanit", sans-serif;
    // color: #ff9900;
    color: darkblue;
}