.services_swiper_slider {
    border: 3px solid transparent;
    margin: 0 auto 9vh auto;
}

.swipe_slides {
    // border: 0px solid transparent;
    border-radius: 21px;
    // height: 27vh;
}

.swipe_slides>.inner_slides {
    // border: 1px solid transparent;
    // border-radius: 21px;
    margin: 0 auto;
    width: 80vw;
    // box-shadow: 1px 1px 6px gray;
    position: relative;
}

.inner_slides>.slide_image>img {
    border-radius: 15px;
    width: 80vw;
    height: 27vh;
}

.inner_slides>.descrip {
    position: absolute;
    top: 3vh;
    left: 3vh;
    z-index: 995 !important;
}

:root {
    --swiper-navigation-size: 12px !important;
    --swiper-navigation-color: black;
    font-weight: 900 !important;
}

.swiper-button-prev,
.swiper-button-next {
    border: 3px solid blue !important;
    border-radius: 50%;
    padding: 9px;
    width: 30px;
    height: 30px;
    background-color: black;
    color: blue !important;
    font-weight: 900 !important;
}

.swiper-button-prev {
    margin: -2vh 0 0 3vh;
}

.swiper-button-next {
    margin: -2vh 3vh 0 0;
}